<div class="span12">
<p>
  <strong>Name parlo:</strong>
  <%= @parlo.name_parlo %>
</p>
<p>
  <strong>Country:</strong>
  <%= @parlo.country.name_country %>
</p>

<%= link_to 'Edit', edit_parlo_path(@parlo) %> |
<%= link_to 'Back', parlos_path %>
</div>
